PORT=5000
MONGO_URI=mongodb+srv://devadarshkumar07_db_user:<db_password>@brainsadatabase.mqqyche.mongodb.net/brainsadatabase?retryWrites=true&w=majority
JWT_SECRET=super_secret_jwt_key_change_this_123!
API_URL=http://localhost:5000
